<h1>{{text}}</h1>

<div class="container">
    <div class="steps">
        <h1>Padmasana Pose</h1>
  <p>
    <strong>Padmasana [pɑd-mɑ-sɑ-nɑ] is also known as Lotus pose. It is an ancient Indian practice, where a person sits in a cross-legged posture placing his/her feet on the opposite thighs. Lotus pose is an established meditative asana in Hindu, Jain and Buddhist traditions. Padmasana allows the body to be held completely steady for a longer period.
    Those who feel that the full lotus pose is intense can practice the easier version of Padmasana. In this variation, only one foot is put at the top of the opposite keeping the other foot under the out-stretched thigh. This version is known as the Ardh-Padmasana or Half-Lotus pose. 
    Padmasana helps students in focusing and diminish stress, especially during exams. It holds the wandering thoughts and stabilizes the mind. The steadiness and calmness are the real steps toward meditation. The lotus pose also encourages the digestive process and tones sacral nerves (nerves that provide control to the pelvis and legs) by increasing the flow of blood.
    </strong>
  </p>
        <p><h2>Steps:</h2></p>
        <ol>
    <h3>
            <li>Sit on the floor with your legs straight in front of you.</li>
            <li>Bend your right knee and place your right foot on your left thigh.</li>
            <li>Bend your left knee and place your left foot on your right thigh.</li>
            <li>Place your hands on your knees, palms facing up, in chin mudra (thumb and index finger touching).</li>
            <li>Lengthen your spine, relax your shoulders, and close your eyes.</li>
            <li>Breathe deeply and hold the pose for several minutes.</li>
    </h3>
        </ol>
    </div>
    <div class="image">
        <img src="{{ url_for('static', filename='assets/Padmasana.jpg') }}" alt="Padmasana Pose">
    </div>
</div>